.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-image: url('src/assets/backgroundCivil3.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #b2443a;
  text-align: center;
  margin-bottom: 60px;
}

.sliderContainer {
  width: 80%;
  max-width: 1200px;
}

.sliderItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  box-sizing: border-box;
  min-height: 250px;
}

.sliderItemContainer {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 250px;
  width: 90%;
  margin: auto;
  background-color: #fff4e1;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  padding: 5% 0;
  color: #616161;
  border-radius: 12px;
}

.sliderItemContainer h3 {
  font-size: 20px;
}

.sliderItemContainer:hover {
  transform: scale(1.15);
  background-color: #f0e3cf;
  color: #000;
}

.sliderItemContainer p {
  margin: auto;
}

.image {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.imageTeam {
  display: block;
  margin: 0 auto;
  width: 220px;
  height: auto;
  margin-bottom: 15px;
}

.text {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  max-width: 300px;
}

@media (max-width: 960px) {
    .root {
      height: auto;
      background-size: cover; /* Para cubrir todo el contenedor */
    }

    .sliderItem {
      justify-content: flex-start;
      padding: 10px;
    }

    .image {
      width: 150px;
    }

    .text {
      font-size: 18px;
      max-width: 90%;
    }

    .title {
      margin-bottom: 30px;
      font-size: 24px;
      max-width: 80;
    }

    .sliderItemContainer {
      min-height: 400px;
      width: 100%;
      margin: auto;
      padding: 5% 0;
    }

    .sliderItemContainer:hover {
      transform: scale(1.05);
    }
}
